@model University.Models.ViewModelStudLec
        
    ViewData["Title"] = "SelectAll";

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


@foreach (var item in Model.Studs)
{


    <p>@item.Lastname     @item.Firstname</p> 

   

}
   @foreach (var item in Model.Lectures)
    {
        <p> @item.LectureName  @item.Info</p>
    }
<h1>SelectAll</h1>
